<div class="container">
  <div class="content" (click)="onClick($event)">
    <div class="main" #main>
      <div class="post-detail">
        <h4 class="title">
          {{ posts[0]?.title }}
        </h4>
        <p class="desc">
          {{ posts[0]?.category }} / {{ formateDate(posts[0]?.date._seconds) }}
        </p>
      </div>
    </div>
    <div class="secondary top" #top>
      <div class="post-detail">
        <h4 class="title">
          {{ posts[1]?.title }}
        </h4>
        <p class="desc">
          {{ posts[1]?.category }} / {{ formateDate(posts[1]?.date._seconds) }}
        </p>
      </div>
    </div>
    <div class="secondary bottom" #bottom>
      <div class="post-detail">
        <h4 class="title">
          {{ posts[2]?.title }}
        </h4>
        <p class="desc">
          {{ posts[2]?.category }} / {{ formateDate(posts[2]?.date._seconds) }}
        </p>
      </div>
    </div>
  </div>
</div>
